In [15]:
# importing Liabraries
import mysql.connector
from mysql.connector import Error
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
# Making Connection
conn = mysql.connector.connect(user = 'root',
                               password = 'Tanmay@2002',
                               host = 'localhost',
                               database = 'world')

# Checking connection with try and except block
try:
    if conn.is_connected():
        db_info = conn.get_server_info()
        print("Your are connected to the MySQL database with server",db_info)
        
except Error as e:
    print("Unable to connect the database",e)

Your are connected to the MySQL database with server 8.0.26

In [17]:
# Making Cursor Object
cursor = conn.cursor(buffered=True)

In [18]:
# Running Quarries and Result
cursor.execute('show tables')
result = cursor.fetchall()
result

[('book',),
 ('chicagopublicschools',),
 ('city',),
 ('country',),
 ('countrylanguage',),
 ('notebook',),
 ('pet',)]

In [19]:
df = pd.read_sql('select * from chicagopublicschools;',conn)
df.head(3)

,School_ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street_Address,City,State,ZIP_Code,Phone_Number,Link,Network_Manager,...,Freshman_on_Track_Rate__,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police_District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"

In [20]:
for i in df.columns:
    print(i)

School_ID
NAME_OF_SCHOOL
Elementary, Middle, or High School
Street_Address
City
State
ZIP_Code
Phone_Number
Link
Network_Manager
Collaborative_Name
Adequate_Yearly_Progress_Made_
Track_Schedule
CPS_Performance_Policy_Status
CPS_Performance_Policy_Level
HEALTHY_SCHOOL_CERTIFIED
Safety_Icon
SAFETY_SCORE
Family_Involvement_Icon
Family_Involvement_Score
Environment_Icon
Environment_Score
Instruction_Icon
Instruction_Score
Leaders_Icon
Leaders_Score
Teachers_Icon
Teachers_Score
Parent_Engagement_Icon
Parent_Engagement_Score
Parent_Environment_Icon
Parent_Environment_Score
AVERAGE_STUDENT_ATTENDANCE
Rate_of_Misconducts__per_100_students_
Average_Teacher_Attendance
Individualized_Education_Program_Compliance_Rate
Pk_2_Literacy__
Pk_2_Math__
Gr3_5_Grade_Level_Math__
Gr3_5_Grade_Level_Read__
Gr3_5_Keep_Pace_Read__
Gr3_5_Keep_Pace_Math__
Gr6_8_Grade_Level_Math__
Gr6_8_Grade_Level_Read__
Gr6_8_Keep_Pace_Math_
Gr6_8_Keep_Pace_Read__
Gr_8_Explore_Math__
Gr_8_Explore_Read__
ISAT_Exceeding_Math__
ISAT_Exceeding_Reading__
ISAT_Value_Add_Math
ISAT_Value_Add_Read
ISAT_Value_Add_Color_Math
ISAT_Value_Add_Color_Read
Students_Taking__Algebra__
Students_Passing__Algebra__
9th Grade EXPLORE (2009)
9th Grade EXPLORE (2010)
10th Grade PLAN (2009)
10th Grade PLAN (2010)
Net_Change_EXPLORE_and_PLAN
11th Grade Average ACT (2011)
Net_Change_PLAN_and_ACT
College_Eligibility__
Graduation_Rate__
College_Enrollment_Rate__
COLLEGE_ENROLLMENT
General_Services_Route
Freshman_on_Track_Rate__
X_COORDINATE
Y_COORDINATE
Latitude
Longitude
COMMUNITY_AREA_NUMBER
COMMUNITY_AREA_NAME
Ward
Police_District
Location

### Problems
* Problem 1
* How many Elementary Schools are in the dataset?

In [21]:
#Python Solution
len(df[df['Elementary, Middle, or High School']=='ES'])

350

### Problem 2
* What is the highest Safety Score?

In [22]:
#Python Soluation
df['SAFETY_SCORE'].max()

99

In [34]:
#SQL Soluation
cursor.execute("""select max(SAFETY_SCORE) from chicagopublicschools""")
result=cursor.fetchall()
result

[(99,)]

### Problem 3
* Which schools have highest Safety Score?

In [24]:
#Python Solution
df[df['SAFETY_SCORE']==99]['NAME_OF_SCHOOL']

0                     Abraham Lincoln Elementary School
21         Annie Keller Elementary Gifted Magnet School
29                  Augustus H Burley Elementary School
75          Edgar Allan Poe Elementary Classical School
76                          Edgebrook Elementary School
95                     Ellen Mitchell Elementary School
167          James E McDade Elementary Classical School
168                    James G Blaine Elementary School
230                 LaSalle Elementary Language Academy
259    Mary E Courtenay Elementary Language Arts Center
287           Northside College Preparatory High School
288               Northside Learning Center High School
289                      Norwood Park Elementary School
293                       Oriole Park Elementary School
342         Stephen Decatur Classical Elementary School
345                            Talman Elementary School
365                          Wildwood Elementary School
Name: NAME_OF_SCHOOL, dtype: object

In [35]:
# SQL Soluation
cursor.execute("""select NAME_OF_SCHOOL,SAFETY_SCORE 
                from chicagopublicschools
                where SAFETY_SCORE = 99
                """)
result=cursor.fetchall()
result

[('Abraham Lincoln Elementary School', 99),
 ('Annie Keller Elementary Gifted Magnet School', 99),
 ('Augustus H Burley Elementary School', 99),
 ('Edgar Allan Poe Elementary Classical School', 99),
 ('Edgebrook Elementary School', 99),
 ('Ellen Mitchell Elementary School', 99),
 ('James E McDade Elementary Classical School', 99),
 ('James G Blaine Elementary School', 99),
 ('LaSalle Elementary Language Academy', 99),
 ('Mary E Courtenay Elementary Language Arts Center', 99),
 ('Northside College Preparatory High School', 99),
 ('Northside Learning Center High School', 99),
 ('Norwood Park Elementary School', 99),
 ('Oriole Park Elementary School', 99),
 ('Stephen Decatur Classical Elementary School', 99),
 ('Talman Elementary School', 99),
 ('Wildwood Elementary School', 99)]

### Problem 4
* What are the top 10 schools with the highest "Average Student Attendance"?

In [25]:
df['AVERAGE_STUDENT_ATTENDANCE'].max()

'98.40%'

In [26]:
#SQL Soluation 
cursor.execute(""" select NAME_OF_SCHOOL,AVERAGE_STUDENT_ATTENDANCE
                        from chicagopublicschools 
                        order by AVERAGE_STUDENT_ATTENDANCE desc 
                        limit 10""")
result = cursor.fetchall()
result

[('John Charles Haines Elementary School', '98.40%'),
 ('James Ward Elementary School', '97.80%'),
 ('Rachel Carson Elementary School', '97.60%'),
 ('Edgar Allan Poe Elementary Classical School', '97.60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50%'),
 ('Lenart Elementary Regional Gifted Center', '97.40%'),
 ('John H Vanderpoel Elementary Magnet School', '97.20%'),
 ('Albany Park Multicultural Academy', '97.00%'),
 ('Frank W Reilly Elementary School', '97.00%')]

### Problem 5
-Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in
ascending order based on attendance

In [27]:
cursor.execute(""" select NAME_OF_SCHOOL,AVERAGE_STUDENT_ATTENDANCE from chicagopublicschools 
                        order by AVERAGE_STUDENT_ATTENDANCE 
                        limit 5""")
result = cursor.fetchall()
result

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('William Rainey Harper High School', '73.00%'),
 ('William J Bogan High School', '75.20%'),
 ('John Hancock College Preparatory High School', '78.20%'),
 ('Edward Tilden Career Community Academy High School', '78.40%')]

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

In [28]:
cursor.execute(""" select NAME_OF_SCHOOL,replace(AVERAGE_STUDENT_ATTENDANCE,'%','')
                        from chicagopublicschools 
                        order by AVERAGE_STUDENT_ATTENDANCE 
                        limit 5""")
result = cursor.fetchall()
result

[('Richard T Crane Technical Preparatory High School', '57.90'),
 ('William Rainey Harper High School', '73.00'),
 ('William J Bogan High School', '75.20'),
 ('John Hancock College Preparatory High School', '78.20'),
 ('Edward Tilden Career Community Academy High School', '78.40')]

### Problem 7
* Which Schools have Average Student Attendance lower than 70%?

In [29]:
cursor.execute(""" select NAME_OF_SCHOOL,replace(AVERAGE_STUDENT_ATTENDANCE,'%','')
                        from chicagopublicschools
                        where AVERAGE_STUDENT_ATTENDANCE < 70 """)
result = cursor.fetchall()
result

[('Richard T Crane Technical Preparatory High School', '57.90')]

# Problem 8
Get the total College Enrollment for each Community Area

In [30]:
df.groupby('COMMUNITY_AREA_NAME')

In [31]:
cursor.execute(""" select COMMUNITY_AREA_NAME,sum(COLLEGE_ENROLLMENT) AS total_enrollment
                        from chicagopublicschools
                        group by COMMUNITY_AREA_NAME """)
result = cursor.fetchall()
result

[('LINCOLN PARK', Decimal('2187')),
 ('SOUTH SHORE', Decimal('2654')),
 ('ASHBURN', Decimal('6483')),
 ('NEW CITY', Decimal('7922')),
 ('ARMOUR SQUARE', Decimal('1458')),
 ('ALBANY PARK', Decimal('4135')),
 ('NORTH CENTER', Decimal('1975')),
 ('LAKE VIEW', Decimal('6326')),
 ('WEST TOWN', Decimal('5413')),
 ('ROSELAND', Decimal('3872')),
 ('HUMBOLDT PARK', Decimal('5423')),
 ('BEVERLY', Decimal('1636')),
 ('NORTH LAWNDALE', Decimal('2767')),
 ('LOGAN SQUARE', Decimal('6392')),
 ('ENGLEWOOD', Decimal('4106')),
 ('WOODLAWN', Decimal('2411')),
 ('WEST ENGLEWOOD', Decimal('5391')),
 ('MOUNT GREENWOOD', Decimal('1182')),
 ('GRAND BOULEVARD', Decimal('2211')),
 ('SOUTH CHICAGO', Decimal('2893')),
 ('DUNNING', Decimal('4066')),
 ('AVALON PARK', Decimal('689')),
 ('BELMONT CRAGIN', Decimal('8456')),
 ('WASHINGTON PARK', Decimal('2330')),
 ('KENWOOD', Decimal('748')),
 ('HYDE PARK', Decimal('1930')),
 ('SOUTH DEERING', Decimal('1488')),
 ('CHATHAM', Decimal('2012')),
 ('BRIGHTON PARK', Decimal('6073')),
 ('AVONDALE', Decimal('3640')),
 ('SOUTH LAWNDALE', Decimal('9232')),
 ('WASHINGTON HEIGHTS', Decimal('2780')),
 ('BRIDGEPORT', Decimal('1783')),
 ('GREATER GRAND CROSSING', Decimal('2594')),
 ('WEST GARFIELD PARK', Decimal('2307')),
 ('EDISON PARK', Decimal('650')),
 ('AUBURN GRESHAM', Decimal('3391')),
 ('CHICAGO LAWN', Decimal('4705')),
 ('WEST RIDGE', Decimal('3892')),
 ('EAST SIDE', Decimal('3781')),
 ('PULLMAN', Decimal('999')),
 ('FOREST GLEN', Decimal('882')),
 ('NORWOOD PARK', Decimal('3387')),
 ('NEAR NORTH SIDE', Decimal('1517')),
 ('AUSTIN', Decimal('8198')),
 ('WEST LAWN', Decimal('1703')),
 ('WEST PULLMAN', Decimal('2042')),
 ('LINCOLN SQUARE', Decimal('4132')),
 ('GAGE PARK', Decimal('5407')),
 ('PORTAGE PARK', Decimal('4191')),
 ('MORGAN PARK', Decimal('1483')),
 ('ROGERS PARK', Decimal('2486')),
 ('MCKINLEY PARK', Decimal('389')),
 ('WEST ELSDON', Decimal('2527')),
 ('NEAR WEST SIDE', Decimal('5920')),
 ('EDGEWATER', Decimal('2547')),
 ('RIVERDALE', Decimal('1015')),
 ('UPTOWN', Decimal('997')),
 ('IRVING PARK', Decimal('4600')),
 ('NORTH PARK', Decimal('2574')),
 ('BURNSIDE', Decimal('549')),
 ('LOWER WEST SIDE', Decimal('4009')),
 ('JEFFERSON PARK', Decimal('574')),
 ('DOUGLAS', Decimal('1133')),
 ('EAST GARFIELD PARK', Decimal('3050')),
 ('HERMOSA', Decimal('1861')),
 ('CLEARING', Decimal('1948')),
 ('GARFIELD RIDGE', Decimal('2963')),
 ('MONTCLARE', Decimal('1317')),
 ('CALUMET HEIGHTS', Decimal('802')),
 ('NEAR SOUTH SIDE', Decimal('1378')),
 ('ARCHER HEIGHTS', Decimal('1503')),
 ('FULLER PARK', Decimal('307'))]

### Problem 9
* Get the 5 Community Areas with the least total College Enrollment sorted in ascending order

In [32]:
cursor.execute(""" select COMMUNITY_AREA_NAME, sum(COLLEGE_ENROLLMENT) AS total_enrollment
                    from chicagopublicschools
                    group by COMMUNITY_AREA_NAME 
                    order by total_enrollment
                    limit 5
                    """)
result = cursor.fetchall()
result

[('FULLER PARK', Decimal('307')),
 ('MCKINLEY PARK', Decimal('389')),
 ('BURNSIDE', Decimal('549')),
 ('JEFFERSON PARK', Decimal('574')),
 ('EDISON PARK', Decimal('650'))]

### Problem 10
List 5 schools with lowest safety score.

In [33]:
cursor.execute(""" select NAME_OF_SCHOOL,SAFETY_SCORE
                    from chicagopublicschools
                    order by SAFETY_SCORE
                    limit 5
                    """)
result = cursor.fetchall()
result

[('Edmond Burke Elementary School', 1),
 ("Luke O'Toole Elementary School", 5),
 ('George W Tilton Elementary School', 6),
 ('Foster Park Elementary School', 11),
 ('John Fiske Elementary School', 13)]

In [36]:
cursor.close()

True