In [20]:
# Importning Liabraries
import mysql.connector
from mysql.connector import Error
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
# Making connection to the MySql Database
conn = mysql.connector.connect(host='localhost',
                               password='Tanmay@2002',
                               user='root',
                               database='tanmay')
# Checking the conection try and except block
try:
    if conn.is_connected():
        db_info=conn.get_server_info()
        print("Successfully connected to MySQL Database with server",db_info)
except Error as e:
    print('Unable to connect to the database ):')

Successfully connected to MySQL Database with server 8.0.26

In [22]:
#Making Cursor Object
cursor = conn.cursor()

# Exercise 1
In this exercise, you will create and execute a stored procedure to read data from a table on  using SQL.

In [9]:
cursor.execute(""" DELIMITER //

                    CREATE PROCEDURE RETRIEVE_ALL()

                    BEGIN

                        SELECT *  FROM PETSALE;


                    END //

                    DELIMITER ;  """)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'DELIMITER //

                    CREATE PROCEDURE RETRIEVE_ALL()

             ' at line 1

In [ ]:
cursor.execute("""CREATE PROCEDURE retrieve_all()
                    select * from petsale
                    GO;
                    """)

In [ ]:
result = cursor.execute("""call retrieve_all; """)
#result=cursor.fetchall()
result